<template data-loading-target="spinnerTemplate">
  <div class="inline-flex items-center justify-center w-[18px] h-[18px]" role="progressbar">
    <div class="animate-spin rounded-full h-4 w-4 border-2 border-gray-300 border-t-primary"></div>
  </div>
</template>
