<template data-loading-target="spinnerTemplate">
  <div class="inline-flex items-center justify-center p-4" role="progressbar">
    <div class="animate-spin rounded-full size-5 border-2 border-gray-300 border-t-primary"></div>
  </div>
</template>
