<% if logical_prerequisite.logical_operator == "not" %>
  <%= render logical_prerequisite.operands_prerequisites, negative: true %>
<% else %>
  <div data-controller="prerequisite" >
    <a data-action="click->prerequisite#toggle" class="flex items-center py-3 px-4 hover:bg-gray-100 cursor-pointer">
      <span class="material-icons" data-prerequisite-target="button">chevron_right</span>

      <span class="flex-1"><%= logical_prerequisite_description(logical_prerequisite, negative) %></span>

      <%= render 'prerequisites/met_checkmark', prerequisite: logical_prerequisite, negative: %>
    </a>

    <div class="hidden ml-5" data-prerequisite-target="collapsable" >
      <%= render logical_prerequisite.operands_prerequisites, negative: false %>
    </div>
  </div>
<% end %>
