<div class="mdc-list-group" data-controller="prerequisite" >
  <a data-action="click->prerequisite#toggle" >
    <div class="mdc-list-item">
      <span class="material-icons toggle-collapse" data-target="prerequisite.button">chevron_right</span>
      <% if logical_prerequisite.logical_operator == "or" %>
        Alguno de los siguientes
      <% else %>
        Todos los siguientes
      <% end %>
    </div>
  </a>
  <div class="logical-prerequisite-operands" data-target="prerequisite.collapsable" >
    <%= render logical_prerequisite.operands_prerequisites %>
  </div>
</div>
