<% if logical_prerequisite.logical_operator == "not" %>
  <%= render logical_prerequisite.operands_prerequisites, negative: true %>
<% else %>
  <div data-controller="prerequisite" >
    <a data-action="click->prerequisite#toggle" class="mdc-deprecated-list-item">
      <span class="mdc-deprecated-list-item__ripple"></span>
      <span class="material-icons toggle-collapse" data-prerequisite-target="button">chevron_right</span>
      <%= logical_prerequisite_description(logical_prerequisite, negative) %>

      <%= render 'prerequisites/met_checkmark', prerequisite: logical_prerequisite, negative: %>
    </a>
    <div class="hidden ml-5" data-prerequisite-target="collapsable" >
      <%= render logical_prerequisite.operands_prerequisites, negative: false %>
    </div>
  </div>
<% end %>
