<div class="py-6 px-3 sm:px-6 space-y-6">
  <h2 class="text-3xl/9 text-center text-neutral-700">Importar Materias</h2>
  <div class="text-sm/6 text-gray-600">
    <p>Carga tu escolaridad para marcar automaticamente las materias que ya cursaste.</p>
    <p class="mt-2">Si no tenés tu escolaridad, podés conseguirla siguiendo los pasos a continuación:</p>
    <ol class="list-decimal list-inside">
      <li>Entrar a <a href="https://bedelias.udelar.edu.uy/" target="_blank" class="text-blue-600 hover:text-blue-800">Bedelias</a> e iniciar sesión</li>
      <li>Entrar a "Estudiante" -> "Escolaridad" -> "Solicitar Escolaridad"</li>
      <li>Seleccionar tu carrera y "No" en "Resultados Intermedios"</li>
    </ol>
  </div>
  <%= form_with url: transcripts_path, method: :post, data: { turbo: true }, html: { multipart: true } do |form| %>
    <%= form.label :file, "Subí la escolaridad", class: "block text-sm/6 font-medium text-gray-900 mb-1" %>
    <%= form.file_field :file, accept: "application/pdf", required: true, class: "relative flex w-full border
      overflow-hidden border-gray-200
      shadow-2xs rounded-lg text-sm
      focus:outline-hidden focus:z-10
      file:h-full file:py-2 file:px-4
      file:bg-gray-100 file:text-nowrap
      focus:border-primary" %>

    <%= form.button class: "mt-4 px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" do %>
      Subir
    <% end %>
  <% end %>
  <p class="text-gray-500 text-xs mt-3">
  La escolaridad no incluye códigos de materias, por lo que en caso de multiples candidatos con el mismo nombre, se marca la materia más reciente y actualmente activa
  </p>
</div>
