<h3>Hola <%= @user.name || @user.email_address %>,</h3>
<p>
  Para restablecer tu contraseña, sigue el enlace a continuación:<br>
</p>
<p>
  <%= link_to 'Restablecer contraseña', edit_account_url %> <br>
</p>
<p>
  Si no lo solicitaste, ignora este correo electrónico y tu contraseña se mantendrá igual.
</p>
