<%= turbo_stream.before "add-semester-form" do %>
  <div data-controller="add-semester-scroll">
    <%= render 'subject_plans/semester_card', planned_subjects: [], not_planned_subjects: @not_planned_subjects, semester: @semester %>
  </div>
<% end %>
