<label class="mdc-list-item">
  <span class="mdc-list-item__text">
    <%= link_to display_subject_prerequisite(subject_prerequisite), subject_path(subject_prerequisite.approvable_needed.subject), class: 'no-decoration' %>
  </span>
</label>
