<%= link_to subject_path(subject_prerequisite.approvable_needed.subject), class: 'mdc-deprecated-list-item' do %>
  <span class="mdc-deprecated-list-item__ripple"></span>
  <span class="mdc-deprecated-list-item__text"><%= display_subject_prerequisite(subject_prerequisite) %> </span>
<% end %>
