<%- if controller_name != 'sessions' %>
  <li class="sign-in-option sign-in">
    ¿Ya estás registrado?
    <%= link_to 'Iniciar', new_session_path(resource), class: "account-session" %>
  </li>
<% end %>
<%- if controller_name != 'registrations' %>
  <li class="sign-in-option sign-in">
    ¿No estás registrado?
    <%= link_to 'Registrarte',new_registration_path(resource), class: "account-session" %>
  </li>
<% end %>
<%- if controller_name != 'passwords' && controller_name != 'registrations' %>
  <li class="sign-in-option sign-in">
    ¿Has olvidado tu contraseña?
    <%= link_to 'Restablecer contraseña', new_password_path(resource), class: "account-session" %>
  </li>
<% end %>
