<%= form_with(
  model: approvable,
  url: approvable_approval_path(approvable, subject_show: subject_show),
  data: { controller: "autosave-check" },
  method: current_student.approved?(approvable) ? :delete : :post,
  local: false,
) do |form| %>
  <div class="box-content w-[18px] h-[18px] p-3">
    <div class="group grid size-4 grid-cols-1">
      <%= form.checkbox(
        :approved,
        id: dom_id(approvable),
        checked: checked?,
        disabled: disabled?,
        class: STYLES[:checkbox].join(' '),
        data: { action: "click->autosave-check#update click->loading#start", "loading-target": "checkbox" },
      ) %>

    <svg fill="none" viewBox="0 0 14 14" class="<%= STYLES[:svg].join(' ') %>">
        <path d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-checked:opacity-100">
        </path>
        <path d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-indeterminate:opacity-100">
        </path>
      </svg>
    </div>
  </div>
<% end %>
