<%= form_with(
  model: approvable,
  url: approvable_approval_path(approvable, subject_show: subject_show),
  data: { controller: "autosave-check" },
  method: current_student.approved?(approvable) ? :delete : :post,
  class: "mx-[5px]"
) do |form| %>
  <% filter_categories.each do |category| %>
    <%= hidden_field_tag "filter_categories[]", category %>
  <% end %>

  <div class="box-content w-[18px] h-[18px] p-3">
    <div class="grid size-4 grid-cols-1">
      <%= render(
        CheckboxComponent.new(
          :approved,
          form:,
          id: dom_id(approvable),
          checked: checked?,
          disabled: disabled?,
          data: { action: "click->autosave-check#update click->loading#start", "loading-target": "checkbox" },
        )
      )%>
    </div>
  </div>
<% end %>
