<%= form_with(
  model: approvable,
  url: approvable_approval_path(approvable, subject_show: subject_show),
  data: { controller: "autosave-check" },
  method: current_student.approved?(approvable) ? :delete : :post,
  class: "mx-[5px]"
) do |form| %>
  <div class="box-content w-[18px] h-[18px] p-3 relative grid grid-cols-1 place-items-center">
    <%= form.checkbox(
      :approved,
      id: dom_id(approvable),
      checked: checked?,
      disabled: disabled?,
      class: STYLES[:checkbox],
      data: { action: "click->autosave-check#update click->loading#start", "loading-target": "checkbox" },
    ) %>
    <div class="<%= class_names(STYLES[:visual_checkbox]) %>"></div>
    <%= helpers.material_icon("check", class_names(STYLES[:icon])) %>
  </div>
<% end %>
