<h2 class="text-3xl/9 text-neutral-700">Cambiar Carrera</h2>
<br>
<%= form_with(url: user_degree_path(current_user), method: :put, class: "flex flex-col w-full max-w-md space-y-6") do |f| %>
    <div>
    <%= f.label :degree_id, "Carrera de Grado", class: "text-sm/6 font-medium text-gray-700 with-error:text-red-600" %>
    <%= f.select(
        :degree_id,
        options_for_select(
        Degree.ids.map { |id| [id.humanize, id] },
        selected: current_user.degree_id
        ),
        {
        include_blank: "Selecciona tu carrera de grado",
        },
        {
        class: %w[
            bg-white
            w-full
            rounded-md
            px-3
            py-1.5
            outline-1
            outline-gray-300
            focus:outline-2
            focus:outline-indigo-600
            with-error:outline-red-500
            with-error:focus:outline-red-600
        ].join(" "),
        required: true
        },
    ) %>
    </div>
    <%= render ButtonComponent.new(form: f, label: "Guardar") %>
<% end %>
