<div class="mdc-deprecated-list-group">
  <h3 class="mdc-deprecated-list-group__subheader mdc-typography--headline5 sign-in">¿Has olvidado tu contraseña?</h3>
  <ul class="mdc-deprecated-list growing-text-list">

    <%= form_with(model: resource, url: password_path(resource_name), method: :post, local: true) do |f| %>

      <%= render EmailFieldComponent.new(form: f, attribute: :email, label: "Correo electrónico", input_options: { required: true, autocomplete: "email", autofocus: true }) %>

      <li class="form-input-container sign-in">
        <%= f.button class: "mdc-button mdc-button--raised" do %>
          <span class="mdc-button__ripple"></span>
          <span class='mdc-button__label'>
            Restablecer contraseña
          </span>
        <% end %>
      </li>
    <% end %>

    <%= render "devise/shared/links" %>
  </ul>
</div>
