<div class="flex flex-row items-center p-4 mb-4 rounded-lg bg-red-100 text-red-600">
  <%= heroicon "x-circle", variant: :outline, options: { class: "size-6" } %>

  <span class="ms-3 text-sm/6 font-medium"><%= flash[:alert] %></span>
</div>
