<div class="mdc-banner" role="banner" data-controller="banner">
  <div class="mdc-banner__content"
      role="alertdialog"
      aria-live="assertive"
      >
    <div class="mdc-banner__graphic-text-wrapper">
      <div class="mdc-banner__text banner-text">
        <%= message %>
      </div>
    </div>
    <div class="mdc-banner__actions">
      <button type="button" class="mdc-button mdc-banner__primary-action">
        <div class="mdc-button__label"><%= action %></div>
      </button>
    </div>
  </div>
</div>