<%= form_with(
  model: approvable,
  url: approvable_approval_path(approvable, subject_show:),
  data: { controller: "autosave-check" },
  method: current_student.approved?(approvable) ? :delete : :post,
  local: false,
) do |form| %>
  <div class="mdc-checkbox">
    <%= render(CheckboxInputComponent.new(
      'approvable[approved]',
      id: dom_id(approvable),
      checked: current_student.approved?(approvable),
      disabled: !current_student.available?(approvable) && !current_student.approved?(approvable),
      data: { action: "click->autosave-check#update click->loading#start", "loading-target": "checkbox" },
      )
    ) %>
  </div>
<% end %>
