<% if computacion_2025_plan? %>
  <div class="bg-yellow-50 w-full">
    <div class="max-w-[600px] mx-auto px-3 py-2.5 flex items-center gap-x-3">
      <%= material_icon("warning_amber", "text-yellow-800") %>
      <p class="text-yellow-800">
        El plan de Computación 2025 está en proceso de implementación. Bedelías aún no cuenta con todas las materias del plan, por lo que algunas no están disponibles.
      </p>
    </div>
  </div>
<% end %>
