<span class="credits-counter">
  <span class="js-credits-count" data-controller="credits-counter" data-action="credits-change->credits-counter#update">
    <%= bedel.credits %>
  </span>
  créditos
</span>
