<a href="https://eva.fing.edu.uy/course/view.php?id=<%= eva_id %>" target="_blank" class="mdc-deprecated-list-item">
  <span class="mdc-deprecated-list-item__ripple"></span>
  <%= heroicon "window", options: { class: "text-gray-500 size-6 me-6" } %>
  <span class="mdc-deprecated-list-item__text"><%= text %></span>
</a>
