<a href="https://eva.fing.edu.uy/course/view.php?id=<%= eva_id %>" target="_blank" class="mdc-deprecated-list-item">
  <span class="mdc-deprecated-list-item__ripple"></span>
  <span class="mdc-deprecated-list-item__graphic material-icons">forum</span>
  <span class="mdc-deprecated-list-item__text"><%= text %></span>
</a>
