<div class='mdc-text-field-helper-line'>
  <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent">
    <% if text %>
      <span><%= text %></span>
    <% end %>
    <% if resource.errors[field].any? %>
      <span class='mdc-text-field-helper-text--validation-msg' role='alert'>
        <%= resource.errors[field].to_sentence.capitalize %>
      </span>
    <% end %>
  </div>
</div>

