<div class="mt-1 h-2 text-sm">
  <% if resource.errors[field].any? %>
    <span class="text-red-600" role="alert">
      <%= resource.errors[field].to_sentence.capitalize %>
    </span>
  <% elsif defined?(text) %>
    <span class="text-indigo-600">
      <%= text %>
    </span>
  <% end %>
</div>
