<div class="mt-1 h-2 text-sm text-gray-600">
  <% if resource.errors[field].any? %>
    <span class="text-red-600" role="alert">
      <%= resource.errors[field].to_sentence.capitalize %>
    </span>
  <% end %>
</div>
