<aside class="mdc-drawer mdc-drawer--modal" data-navigation-drawer-target='drawer'>
  <div class="mdc-drawer__content" data-controller="toggle-review-form">
    <div class="mdc-deprecated-list" data-action='click->navigation-drawer#close'>
      <%= drawer_menu_navigation_item('Avance de Carrera', root_path) %>
      <%= drawer_menu_navigation_item('Todas las Materias', all_subjects_path) %>
      <%= drawer_menu_navigation_item('Materias INCO semestre actual', current_optional_subjects_path) %>
      <li role="separator" class="mdc-deprecated-list-divider"></li>
      <a class='mdc-deprecated-list-item' href="https://github.com/cedarcode/mi_carrera" target='_blank' tabindex='0'>
        <span class="mdc-deprecated-list-item__ripple"></span>
        <span class="material-symbols-outlined">
          open_in_new
        </span>
        &nbsp;
        <span class='mdc-deprecated-list-item__text'>
          Colabora en Github
        </span>
      </a>
    </div>
    <div class='mdc-deprecated-list-item' data-action="click->toggle-review-form#toggle" data-toggle-review-form-target='button'>
      <span class="mdc-deprecated-list-item__ripple"></span>
      <span class="material-symbols-outlined">
        rate_review
      </span>
      &nbsp;
      <span class='mdc-deprecated-list-item__text'>
        Opina de la app
      </span>
    </div>
    <div data-toggle-review-form-target='form'>
      <%= render 'shared/review_form' %>
    </div>
  </div>
</aside>
<div class="mdc-drawer-scrim"></div>
