<aside class="mdc-drawer mdc-drawer--modal" data-navigation-drawer-target='drawer'>
  <div class="mdc-drawer__content">
    <div class="mdc-deprecated-list" data-action='click->navigation-drawer#close'>

      <%= drawer_menu_navigation_item('Avance de Carrera', root_path) %>
      <%= drawer_menu_navigation_item('Todas las Materias', all_subjects_path) %>
      <%= drawer_menu_navigation_item('Materias INCO semestre actual', current_optional_subjects_path) %>
      <% if current_user && ENV['ENABLE_PLANNER'].present? %>
        <%= drawer_menu_navigation_item('Planificador', subject_plans_path, 'new_releases') %>
      <% end %>
      <li role="separator" class="mdc-deprecated-list-divider"></li>
      <a class='mdc-deprecated-list-item' href="https://github.com/cedarcode/mi_carrera" target='_blank' tabindex='0'>
        <span class="mdc-deprecated-list-item__ripple"></span>
        <span class="material-symbols-outlined">
          open_in_new
        </span>
        &nbsp;
        <span class='mdc-deprecated-list-item__text'>
          Colabora en Github
        </span>
      </a>
      <div class="mdc-drawer__content">
        <div class="footer mdc-theme--text-primary-on-light" style="margin-bottom: 5px; padding-bottom: 0; position: absolute; bottom: 0; width: 100%; margin-left: 2px;">
          <li role="separator" class="mdc-deprecated-list-divider"></li>
          <span class="mdc-theme--text-secondary-on-light">
            Built by&nbsp;
          </span>
            <a class="mdc-theme--text-primary-on-light" href="https://cedarcode.com" target="_blank" style="text-decoration: none;">Cedarcode</a>
        </div>
      </div>
    </div>
  </div>
</aside>
<div class="mdc-drawer-scrim"></div>
