<div
  data-controller="notice"
  class="fixed end-0 bottom-4 flex justify-center items-center max-w-xs p-4 bg-white border-1 border-gray-100 space-x-2 rounded-lg shadow-xl z-1 transform transition-all duration-300 ease-in-out translate-x-full opacity-0"
>
  <%= material_icon("check_circle_outline", "text-green-500") %>

  <span class="text-sm"><%= flash[:notice] %></span>
</div>
