<div class="items-center justify-between" data-controller="textfield show-password">
  <div class="flex items-center justify-between">
    <%= f.label field, label_text, class: "block text-sm/6 font-medium text-gray-900" %>
    <% if with_forgot_password_link %>
      <%= link_to '¿Has olvidado tu contraseña?', new_password_path(resource), class: "font-semibold text-indigo-600 hover:text-indigo-500 text-sm" %>
    <% end %>
  </div>
  <%= f.password_field field, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6", required:, autofocus: true, autocomplete:, data: { show_password_target: "password" } %>
</div>
