<div class="items-center justify-between" data-controller="textfield show-password">
  <div class="flex items-center justify-between">
    <%= f.label field, label_text, class: "block text-sm/6 font-medium text-indigo-900" %>
    <% if with_forgot_password_link %>
      <%= link_to '¿Has olvidado tu contraseña?', new_password_path(resource), class: "font-semibold text-indigo-700 hover:text-indigo-600 text-sm" %>
    <% end %>
  </div>
  <div class="relative w-full">
    <%= f.password_field field, class: "block w-full pr-10 rounded-md bg-white px-3 py-1.5 text-base outline-1 -outline-offset-1 outline-indigo-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-700 sm:text-sm/6", required:, autofocus: true, autocomplete:, data: { show_password_target: "password" } %>
    <button type="button" class="absolute inset-y-0 right-0 flex items-center pr-3 text-indigo-700 hover:text-indigo-600 cursor-pointer" data-action="show-password#toggle">
      <span class="material-icons" data-show-password-target="icon">visibility</span>
    </button>
  </div>
</div>
