<%= button_tag type: 'button', class: "absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer hover:text-indigo-700", data: { action: "show-password#toggle" } do %>
  <span class="material-icons" data-show-password-target="icon">visibility</span>
<% end %>
