<div class="mdc-text-field mdc-text-field--filled <%='mdc-text-field--invalid mdc-text-field--with-trailing-icon' if resource.errors[field].any? %>" data-controller="textfield show-password">
  <span class="mdc-text-field__ripple"></span>
  <%= f.label field, label_text, class: "mdc-floating-label" %>
  <%= f.password_field field, class: "mdc-text-field__input", required:, autofocus: true, autocomplete:, data: { show_password_target: "password" } %>
  <button type="button" class="mdc-button show-password-button" data-show-password-target="toggleButton" data-action="show-password#toggle">
    <span class="material-icons">visibility</span>
  </button>
  <%= render 'shared/invalid_icon', resource:, field: %>
  <div class="mdc-line-ripple"></div>
</div>
