<div class="mdc-menu-surface--anchor" data-controller="menu">
  <a data-action="click->menu#openMenu">
    <%= image_tag(current_user.image_url, class: "google-sign-in-image") %>
  </a>
  <div class="mdc-menu mdc-menu-surface" data-target="menu.content">
    <div class="mdc-list">
      <%= link_to edit_user_registration_path, class: "mdc-list-item" do %>
        <span class="mdc-list-item__text">
          Editar Perfil
        <span>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete, class: "mdc-list-item" do %>
        <span class="mdc-list-item__text">
          Salir
        </span>
      <% end %>
    </div>
  </div>
</div>
