<aside class="mdc-snackbar mdc-snackbar--leading flash-snackbar" data-controller='flash-snackbar'>
  <div class="mdc-snackbar__surface" role="status">
    <div class="mdc-snackbar__label">
      <%= message %>
    </div>
  </div>
</aside>
