<aside class="mdc-snackbar flash-snackbar" data-controller='flash-snackbar'>
  <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
    <div class="mdc-snackbar__label" aria-atomic="false">
      <%= message %>
    </div>
  </div>
</aside>
