<div class="mdc-banner mdc-banner--mobile-stacked" role="banner" data-controller="welcome-banner">
  <div class="mdc-banner__fixed">
    <div class="mdc-banner__content"
        role="alertdialog"
        aria-live="assertive"
        >
      <div class="mdc-banner__graphic-text-wrapper">
        <div class="mdc-banner__text">
          Bienvenido! Marcá los cursos y exámenes que aprobaste para ver qué materias podés cursar.
        </div>
      </div>
      <div class="mdc-banner__actions">
        <button type="button" class="mdc-button mdc-banner__primary-action">
          <div class="mdc-button__label">Listo</div>
        </button>
      </div>
    </div>
  </div>
</div>