<h3 class="mdc-deprecated-list-group__subheader mdc-typography--subtitle2">Previas</h3>

<% if prerequisites_course %>
    <span class="mdc-deprecated-list-group__subheader mdc-typography--subtitle1 prerequisite-type">
      Del curso:
    </span>
  <%= render prerequisites_course %>
<% end %>


<% if prerequisites_exam %>
    <span class="mdc-deprecated-list-group__subheader mdc-typography--subtitle1 prerequisite-type">
      Del examen:
    </span>
  <%= render prerequisites_exam %>
<% end %>
