<label class="mdc-deprecated-list-item">
  <span class="mdc-deprecated-list-item__ripple"></span>
  <span class="mdc-deprecated-list-item__text">
  <% if credits_prerequisite.subject_group %>
      <%= credits_prerequisite.credits_needed %> créditos en <%= credits_prerequisite.subject_group.name %>
  <% else %>
    <%= credits_prerequisite.credits_needed %> créditos totales
  <% end %>
  </span>
</label>
