<label class="mdc-list-item">
  <span class="mdc-list-item__text">
    <%= if credits_prerequisite.subject_group
        credits_prerequisite.credits_needed.to_s + " créditos en " + credits_prerequisite.subject_group.name
      else
        credits_prerequisite.credits_needed.to_s + " créditos totales"
      end %>
  </span>
</label>
