<% content_for :title do %>
  <span class="mdc-top-app-bar__title">Student</span>
<% end %>

<div class="mdc-list-group">
  <h3 class="mdc-list-group__subheader mdc-typography--headline5 sign-in">¿Qué deseas hacer?</h3>
  <ul class="mdc-list growing-text-list">

    <li class="sign-in-option sign-in">
      <%= link_to "Registrarte", new_account_path, class: "home-button" %>
    </li>
    <li class="sign-in-option sign-in">
      <%= link_to "Iniciar sesión", new_session_path, class: "home-button" %>
    </li>
    <li class="sign-in-option sign-in">
      <%= link_to "¡Probar la app!", visitor_home_index_path, class: "home-button" %>
    </li>

  </ul>
</div>
