<div id="semester-<%= semester %>-header" class="flex items-center justify-between h-10 bg-gray-50">
  <h3 class="text-sm font-bold ml-4">
    <%= semester_display_name(semester) %>
  </h3>
  <%= render "credits_counter", planned_subjects: %>
</div>
