proxy:
  host: staging.micarrera.uy
  app_port: 3000
  ssl: true
  forward_headers: true

servers:
  web:
    hosts:
      - 3.233.189.168
    options:
      memory: 300MiB

env:
  clear:
    APPSIGNAL_APP_ENV: staging
    ENABLE_PASSKEYS: true
    ENABLE_CHANGING_DEGREES: true
    ENABLE_COMPUTACION_2025: true
    WEBAUTHN_ORIGIN: 'https://staging.micarrera.uy'
    WEBAUTHN_RP_ID: 'staging.micarrera.uy'
