<h1>Rese침as</h1>

<% average_rating = AppReview.average(:rating).to_s %>

<div class="average-rating-indicator">
  <p><%= average_rating.to_f.round 1 %></p>
  <div class="index-star-rating--full">
    <span class="material-symbols-outlined">star</span>
  </div>
</div>

<hr class="divider">
<ul>
  <% if @app_reviews %>
    <% @app_reviews.each do |app_review| %>
      <li>
        <p>Rese침a:</p>
        <input class="app-review-comment-box" type="text" readonly value="<%= app_review.content %>">
        <p>Calificaci칩n</p>
        <div class="index-stars">
          <div class="index-star-rating--full">
            <% app_review.rating.times do %>
              <span class="material-symbols-outlined">star</span>
            <% end %>
          </div>
          <div class="index-star-rating--empty">
            <% (5 - app_review.rating).times do %>
              <span class="material-symbols-outlined">star</span>
            <% end %>
          </div>
        </div>
        <p><strong>Fecha:</strong> <%= app_review.created_at.to_date %></p>
        <hr class="divider">
      </li>
    <% end %>
  <% else %>
    <p>No hay rese침as por ahora</p>
  <% end %>
</ul>
