<div class="subject-group">
  <div class="planner-subject-group-header">
    <h3 class="mdc-deprecated-list-group__subheader mdc-typography--subtitle2">
      Materias disponibles para planificar
    </h3>
  </div>

  <%= form_with(
    model: SubjectPlan.new,
    class: 'new-planned-subject-form',
    data: {
      controller: "autosave-check",
      turbo: true
    }
  ) do |f| %>
    <div class="form-selects-container">
      <%= f.select :subject_id,
        subjects.map { |s| [display_name(s), s.id] },
        { prompt: "Seleccionar materia" },
        {
          class: 'form-select',
          data: {
            autosave_check_target: "subjectSelect",
            action: "change->autosave-check#toggleSemesterSelect"
          }
        }
      %>

      <%= f.select :semester,
        (1..12).map { |n| [semester_display_name(n), n] },
        { prompt: "Seleccionar semestre" },
        {
          class: 'form-select',
          disabled: true,
          data: {
            autosave_check_target: "semesterSelect",
            action: "change->autosave-check#submitIfSubjectSelected"
          }
        }
      %>
    </div>
  <% end %>
</div>