<div class="d-flex new-planned-subjects">
  <span class="mdc-deprecated-list-item__text">
    Planificar materia:
  </span>
  <%= form_with(
    model: SubjectPlan.new,
    url: subject_plans_path,
    method: :post,
    data: { controller: "autosave-check" },
    class: 'new-planned-subject-form d-flex',
    local: false
  ) do |form| %>
    <%= 
      form.select(
        :subject_id, 
        options_for_select(subjects.map{|s| [display_planned_subject_name_and_code(s), s.id]}),
        {}, 
        { class: 'not-planned-subjects-select', data: { action: "click->autosave-check#stopPropagation" } }
      )
    %>
    <%= 
      form.select(
        :semester, 
        options_for_select((1..10).map{|i| ["Sem. #{i}", i]}),
        {}, 
        data: { action: "click->autosave-check#stopPropagation" },
        class: 'margin-left-15'
      )
    %>
    <span class="mdc-deprecated-list-item__meta material-icons" data-action="click->autosave-check#update">add_circle_outline</button>
  <% end %>
</div>