<% if subjects.any? %>
  <div class="bg-white rounded-lg border border-gray-100 shadow-sm">
    <h3 class="bg-gray-50 text-sm font-bold px-4 py-3">
      Materias aprobadas sin semestre asignado
    </h3>
    
    <ul id="not-approved-subjects">
      <% subjects.each do |subject| %> 
        <li class="flex items-center gap-3 p-3 bg-white hover:bg-gray-100 relative" data-draggable-url="<%= subject_plans_path %>" data-draggable-method="post" data-draggable-subject-id="<%= subject.id %>">
          <%= link_to display_name(subject), subject, class: "grow text-sm/6 text-gray-900" %>
          <%= material_icon("check", "text-green-500") %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
