<%# Only render if there are subjects %>
<% if subjects.any? %>
  <div class="subject-group" id="not-planned-approved-subjects-section" data-controller="subject-plan">
    <div class="planner-subject-group-header">
      <h3 class="mdc-deprecated-list-group__subheader mdc-typography--subtitle2">
        Materias aprobadas sin semestre asignado
      </h3>
    </div>

    <div class="semester-list" data-subject-plan-target="semesterList" data-semester="unassigned">
      <% subjects.each do |subject| %>
        <div class="mdc-deprecated-list-item" data-subject-id="new-<%= subject.id %>">
          <span class="mdc-deprecated-list-item__ripple"></span>
          <span class="mdc-deprecated-list-item__text">
            <%= link_to display_name(subject), subject_path(subject) %>
          </span>
          <div class="mdc-deprecated-list-item__meta">
            <span class="material-icons status-icon">done</span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
