<%= turbo_frame_tag "planned_subjects" do %>
  <div class="mdc-deprecated-list">
    <% subjects.each do |subject| %>
      <%= link_to subject_path(subject), :class => "mdc-deprecated-list-item" do %>
        <span class="mdc-deprecated-list-item__ripple"></span>
        <span class="mdc-deprecated-list-item__text">
          <%= display_name(subject) %>
        </span>
        <% if current_student.approved?(subject) %>
          <span class="mdc-deprecated-list-item__meta material-icons">done</span>
        <% else %>
          <%= form_with(
            model: subject,
            url: planned_subject_path(subject_id: subject.id),
            method: :delete,
            data: { controller: "autosave-check" },
            class: 'd-flex',
            locale: false,
          ) do |form| %>
            <span class="mdc-deprecated-list-item__meta material-icons" data-action="click->autosave-check#update">remove_circle_outline</span>
          <% end %>
          <% if !current_student.available?(subject) %>
            <span class="mdc-deprecated-list-item__meta material-icons">lock</span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
