<div data-controller="draggable">
  <%= render partial: "subjects/not_planned_subjects_list", locals: { subjects: @not_planned_approved_subjects } %>

  <% (1..10).each do |semester| %>
    <% planned_subjects = @planned_subjects.select { |subject| subject.semester == semester } %>
    <%= render 'semester_card', planned_subjects: planned_subjects, not_planned_subjects: @not_planned_subjects, semester: semester %>
  <% end %>
</div>
