<div class="mdc-deprecated-list-group subjects-list" data-controller="bedel loading <%= "confetti" if @graduated %>" id="subjects" >
  <%= render "approvals/spinner_template" %>

  <% @subjects.group_by(&:category).each do |category, subjects| %>
    <div class='mdc-deprecated-list-group__subheader subject-group-header'>
      <h3 class="mdc-typography--subtitle2"><%= formatted_category(category) %></h3>
      <div class='mdc-typography--subtitle2 d-flex'>
        <h3 class='checkbox-header'>Curso</h3>
        <h3 class='checkbox-header'>Examen</h3>
      </div>
    </div>
    <div class="mdc-deprecated-list">
      <%= render subjects %>
    </div>
    <hr class="mdc-deprecated-list-divider">
  <% end %>
</div>
