<% subjects.each do |subject| %>
  <li class="flex gap-x-4 p-3 justify-between items-center hover:bg-gray-100">
    <p class="text-sm/6 text-gray-900 cursor-pointer">
      <%= link_to display_name(subject), subject_path(subject), class: "grow w-full" %>
    </p>
    <% if current_student.approved?(subject) %>
      <%= heroicon "check-circle", variant: :outline, options: { class: "size-6 text-green-500" } %>
    <% elsif !current_student.available?(subject) %>
      <%= heroicon "lock-closed", variant: :outline, options: { class: "size-6 text-gray-500" } %>
    <% end %>
  </li>
<% end %>
