<li>
  <%= link_to subject_path(subject), class: "flex gap-x-4 p-3 justify-between items-center hover:bg-gray-100 text-gray-900" do %>
    <%= display_name(subject) %>
    <span class='flex h-[40px] w-[100px] min-w-[100px] ms-[15px]'>
      <%= render(ApprovableCheckboxComponent.new(approvable: subject.course, subject_show: false, current_student: current_student)) %>
      <% if subject.exam %>
        <%= render(ApprovableCheckboxComponent.new(approvable: subject.exam, subject_show: false, current_student: current_student)) %>
      <% end %>
    </span>
  <% end %>
</li>
