<div class="flex items-center justify-between h-12 px-4 hover:bg-gray-100">
  <span class="flex items-center h-full w-full">
    <%= link_to subject_path(subject), :class => "grow w-full" do %>
      <%= display_name(subject) %>
    <% end %>
  </span>
  <span class="flex items-center h-full w-24">
    <%= render(ApprovableCheckboxComponent.new(approvable: subject.course, subject_show: false, current_student: current_student)) %>
    <% if subject.exam %>
      <%= render(ApprovableCheckboxComponent.new(approvable: subject.exam, subject_show: false, current_student: current_student)) %>
    <% end %>
  </span>
</div>
