<ul>
  <% subjects.each do |subject| %>
    <li>
      <%= link_to subject_path(subject), class: "flex gap-x-4 p-3 justify-between items-center hover:bg-gray-100 text-sm/6 text-gray-900" do %>
        <%= display_name(subject) %>

        <% if current_student.approved?(subject) %>
          <%= material_icon("check", "text-green-500") %>
        <% elsif !current_student.available?(subject) %>
          <%= material_icon("lock_outline", "text-gray-400") %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
