<div class="mdc-deprecated-list">
  <% subjects.each do |subject| %>
    <%= link_to subject_path(subject), :class => "mdc-deprecated-list-item" do %>
      <span class="mdc-deprecated-list-item__ripple"></span>
      <span class="mdc-deprecated-list-item__text">
        <%= display_name(subject) %>
      </span>
      <span class="mdc-deprecated-list-item__meta two-checkboxes">
        <% if current_student.approved?(subject) %>
          <span class="mdc-deprecated-list-item__meta material-icons">done</span>
        <% elsif current_user.planned_subjects.any? { |planned_subject| planned_subject.subject_id == subject.id } %>
          <% if !current_student.available?(subject) %>
            <span class="mdc-deprecated-list-item__meta material-icons">lock</span>
          <% end %>
        <% else %>
          <%= form_with(
            model: subject,
            url: planned_subjects_path(subject_id: subject.id),
            method: :post,
          ) do |form| %>
            <button class="material-icons mdc-icon-button">add_circle_outline</button>
          <% end %>
        <% end %>
      </span>
    <% end %>
  <% end %>
</div>
