<div data-controller="bedel loading <%= "confetti" if @graduated %>" id="subjects" >
  <%= render "approvals/spinner_template" %>
  <div class="flex flex-col relative gap-3">
    <% @subjects.group_by(&:category).each do |category, subjects| %>
      <div>
        <div class="flex items-center justify-between border-y border-t-gray-100 border-b-gray-200 bg-gray-50 px-3 py-2 text-sm/6 font-semibold text-gray-900">
          <h3><%= formatted_category(category) %></h3>
          <div class='flex'>
            <h3 class='checkbox-header'>Curso</h3>
            <h3 class='checkbox-header'>Examen</h3>
          </div>
        </div>
        <ul role="list">
          <%= render subjects %>
        </ul>
      </div>
    <% end %>
  </div>
</div>