<div class="mdc-deprecated-list-item growing-text-list">
  <span class="mdc-deprecated-list-item__ripple"></span>
  <%= link_to subject_path(subject), :class => "mdc-deprecated-list-item__text" do %>
    <%= display_name(subject) %>
  <% end %>
  <span class="mdc-deprecated-list-item__meta two-checkboxes">
    <%= render 'shared/checkbox_component', approvable: subject.course, subject_show: false %>

    <% if subject.exam %>
      <%= render 'shared/checkbox_component', approvable: subject.exam, subject_show: false %>
    <% end %>
  </span>
</div>
