<div class="mdc-list">
  <% subjects.each do |subject| %>
    <%= link_to subject_path(subject), :class => "mdc-list-item" do %>
      <span class="mdc-list-item__text">
        <%= display_name(subject) %>
      </span>
      <% if bedel.approved?(subject) %>
        <span class="mdc-list-item__meta material-icons">done</span>
      <% elsif !bedel.able_to_do?(subject) %>
        <span class="mdc-list-item__meta material-icons">lock</span>
      <% end %>
    <% end %>
  <% end %>
</div>
