<% content_for :credits do %>
  <%= render 'shared/credits_counter' %>
<% end %>

<br>

<div class="mdc-menu-surface--anchor" data-controller='filter'>
  <button class="mdc-button mdc-button--outlined" id="filter" data-action='filter#open'>
    <span class="mdc-button__ripple"></span>
    <span class="mdc-button__label">Filtros</span>
  </button>

  <%= render "filter_dialog" %>
</div>

<div class="mdc-deprecated-list-group subjects-list">
  <% if @subjects.any? %>
    <% @subjects.group_by(&:category).each do |category, subjects| %>
      <h3 class="mdc-deprecated-list-group__subheader mdc-typography--subtitle2">
        <%= formatted_category(category) %>
      </h3>

      <%= render partial: "subjects/subjects_list", locals: { subjects: subjects } %>

      <hr class="mdc-deprecated-list-divider">
    <% end %>
  <% else %>
    <div class="search-no-results">
      <i class="material-icons">search</i>
      No hay resultados
    </div>
  <% end %>
</div>
