<% content_for :credits do %>
  <%= render 'shared/credits_counter' %>
<% end %>
<% if @subjects.any? %>
  <% @subjects.group_by(&:category).each do |category, subjects| %>
    <div class="flex items-center h-[50px] border-y border-t-gray-100 border-b-gray-200 bg-gray-50 px-3 py-1.5 text-sm/6 font-semibold text-gray-900">
      <h3 class="grow"><%= formatted_category(category) %></h3>
    </div>
    <ul role="list">
      <%= render partial: "subjects/subjects_list", locals: { subjects: subjects } %>
    </ul>
  <% end %>
<% else %>
  <div class="flex justify-center items-center mt-12 text-gray-500 text-2xl font-light">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 inline-block mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <circle cx="11" cy="11" r="7" stroke-width="2" />
      <line x1="16.65" y1="16.65" x2="21" y2="21" stroke-width="2" stroke-linecap="round"/>
    </svg>
    No hay resultados
  </div>
<% end %>
