<% content_for :credits do %>
  <%= render 'shared/credits_counter' %>
<% end %>

<div class="mdc-deprecated-list-group subjects-list">
   <% Subject::CATEGORIES.each do |category| %>
    <h3 class="mdc-deprecated-list-group__subheader mdc-typography--subtitle2">
      <%= formatted_category(category.to_s) %>
    </h3>
    <hr class="mdc-deprecated-list-divider">

    <%= turbo_frame_tag category, src: subject_by_category_index_path(category:, search: @search), loading: :lazy, target: :_top do %>
      <%= render "shared/spinner" %>
    <% end %>
  <% end %>
</div>
