<% content_for :title do %>
  <span class="mdc-top-app-bar__title">Student</span>
<% end %>

<% content_for :credits do %>
<span class="credits-counter">
  <span class="js-credits-count" data-controller="credits-counter" data-action="credits-change->credits-counter#update">
    <%= bedel.credits %>
  </span>

  créditos
</span>
<% end %>

<%= render 'subjects_list' %>
