<% content_for :title do %>
  <span class="mdc-top-app-bar__title">Student</span>
<% end %>

<% content_for :credits do %>
  <%= render 'shared/credits_counter' %>
<% end %>

<% content_for :profile_link do %>
  <a href="/profile" class="material-icons mdc-top-app-bar__action-item">person</a>
<% end %>

<%= render 'subjects_list' %>
