<% content_for :title do %>
  <span class="mdc-top-app-bar__title">Student</span>
<% end %>

<% content_for :credits do %>
  <%= render 'shared/credits_counter' %>
<% end %>

<% content_for :profile_link do %>
  <%= action_icon("person", profile_path) %>
<% end %>

<div class="js-bedel"/>
