<% content_for :credits do %>
  <%= render 'shared/credits_counter' %>
<% end %>

<div class="mdc-deprecated-list-group subjects-list">
  <h3 class="mdc-deprecated-list-group__subheader mdc-typography--subtitle2">
    Planned subjects
  </h3>

  <%= render partial: "subjects/subjects_list", locals: { subjects: @planned_subjects } %>

  <hr class="mdc-deprecated-list-divider">

  <h3 class="mdc-deprecated-list-group__subheader mdc-typography--subtitle2">
    Recommended subjects
  </h3>

  <%= render partial: "subjects/subjects_list", locals: { subjects: @not_planned_subjects } %>
</div>
