<div class="mdc-list">
  <h3 class="mdc-list-group__subheader">Primer semestre</h3>
  <% @courses.each do |course| %>
    <%= form_with(model: course, url: approve_course_path(course), remote: true) do |form| %>
      <label class="mdc-list-item" for="checkbox_<%= course.id %>">
        <span class="mdc-list-item__text">
          <%= course.name %>
        </span>

        <span class="mdc-list-item__meta">
          <div class="mdc-checkbox">
            <%= form.check_box :approved, { id: "checkbox_#{course.id}", class: "mdc-checkbox__native-control", checked: course_approved?(course), :onchange => 'this.form.submit();' }, "yes", "no" %>

            <div class="mdc-checkbox__background">
              <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
              </svg>

              <div class="mdc-checkbox__mixedmark"></div>
            </div>
          </div>
        </span>
      </label>
    <% end %>
  <% end %>
</div>
