<div class="mdc-list">
  <h3 class="mdc-list-group__subheader">Primer semestre</h3>
  <% @courses.each do |course| %>
    <div class="mdc-list-item">
      <label class="mdc-list-item__text" for="checkbox_<%= course.id %>">
        <%= course.name %>
      </label>

      <span class="mdc-list-item__meta">
        <div class="mdc-checkbox">
          <input type="checkbox" class="mdc-checkbox__native-control" id="checkbox_<%= course.id %>"  />

          <div class="mdc-checkbox__background">
            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
              <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
            </svg>

            <div class="mdc-checkbox__mixedmark"></div>
          </div>
        </div>
      </span>
    </div>
  <% end %>
</div>
