<h3>Primer semestre</h3>

<div class="mdc-list">
  <% @courses.each do |course| %>
    <div class="mdc-list-item">
      <div class="mdc-list-item__text">
        <%= course.name %>
      </div>
    </div>
  <% end %>
</div>
