<h3>Hola <%= @user.name %>,</h3>
<p>
  Para recuperar tu cuenta reseteando tu contraseña, clickea en el siguiente enlace: <br>
</p>
<p>
  <%= link_to 'Resetear contraseña', edit_account_url %> <br>
</p>
<p>
  Si no solicitaste el reseteo de tu contraseña, ignora este correo electrónico y la misma se mantendrá igual.
</p>
