<div id="planned-credits" class="mdc-deprecated-list-group__subheader mdc-typography--subtitle2">
  <% planned_approvable_ids = planned_subjects.map { |subject| [subject.course.id, subject.exam&.id] }.flatten.compact %>
  Créditos planeados: <strong><%= planned_subjects.sum(&:credits) %></strong>
</div>
