<div id="semester-<%= semester %>" class="bg-white rounded-lg border border-gray-100 shadow-sm my-4">
  <%= render "subject_plans/semester_card/header", semester:, planned_subjects: %>

  <%= render "subject_plans/semester_card/subjects_list", semester:, planned_subjects: %>

  <%= render "subject_plans/semester_card/add_subject_form", semester:, not_planned_subjects: %>
</div>
