<div id="semester-<%= semester %>" class="bg-white rounded-lg border border-gray-100 shadow-sm my-4">
  <%= render partial: "semester_header", locals: { semester: semester, planned_subjects: planned_subjects } %>

  <%= render partial: "semester_subjects_list", locals: { semester: semester, planned_subjects: planned_subjects } %>

  <%= render partial: "semester_add_subject_form", locals: { semester: semester, not_planned_subjects: not_planned_subjects } %>
</div>
