<%= link_to subject_path(enrollment_prerequisite.approvable_needed.subject), class: 'flex items-center h-12 px-4 hover:bg-gray-100 cursor-pointer' do %>
  <span class="flex-1 truncate">
    <%= negative ? "No estar" : "Estar" %>
    <%= display_enrollment_prerequisite(enrollment_prerequisite) %>
  </span>

  <%= render 'prerequisites/met_checkmark', prerequisite: enrollment_prerequisite, negative: %>
<% end %>
