.sign-in {
  text-align: center;
  align-items: center;
}

.field_with_errors {
  display: flex;
  flex-direction: column;
}

.form-input-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.form-input-container label {
  margin-bottom: 5px;
}

.form-input {
  height: 30px;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9dadc;
  border-radius: 0;
}
