.github-fork-ribbon {
  position: fixed;
  top: auto;
  left: auto;
  bottom: 3.6em;
  right: -3.4em;
  z-index: 9999;

  width: 15em;
  height: 2em;

  background-color: #aa1d16;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transform: rotate(-45deg);
}
