@font-face {
  font-family: "Roboto-Medium";
  src: url("Roboto-Medium.ttf");
}

.google-sign-in-name {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
}

@media only screen and (max-width: 600px) {
  .google-sign-in-name {
    display: none;
  }
}
.google-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.google-sign-in-button {
  cursor: pointer;
  display: flex;
  border: 1px solid #d9dadc;
  border-radius: 5px;
  background-color: #ffffff;
  align-items: center;
  width: 195px;

  .google-sign-in-text {
    padding-right: 5px;
    font-size: 14px;
    color: #3c4043;
    font-family: "Roboto-Medium";
  }

  .google-icon {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    padding: 0px;
  }
}
