.google-button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .google-sign-in-button {
    cursor: pointer;
    display: flex;
    border: 1px solid #d9dadc;
    border-radius: 5px;
    background-color: #ffffff;
    align-items: center;
    width: 195px;

    .google-sign-in-text {
      padding-right: 5px;
      font-weight: 400;
      font-size: 14px;
      color: #3c4043;
      font-family: "Roboto-Medium";
      white-space: nowrap;
    }

    .google-icon {
      display: inline-block;
      vertical-align: middle;
      width: 35px;
      height: 35px;
      padding: 0px;
    }
  }
}
