.rating-list-item {
  @media (max-width: 450px) {
    height: auto !important;
    align-items: flex-start !important;
  }
}

.rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 12px;

  @media (max-width: 450px) {
    flex-direction: column;
  }
}

.average-rating {
  display: flex;
  align-items: center;
  margin-left: 4px;
  gap: 4px;
}

.rating-items {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  @media (max-width: 450px) {
    .mdc-icon-button {
      width: 40px;
    }
  }
}

.interactive-star {
  transition: transform 0.25s ease;
}

.interactive-star:hover, .interactive-star:hover ~ .interactive-star {
  transform: scale(1.3);
}
