.rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.average-rating {
  display: flex;
  align-items: center;
  margin-left: 4px;
  gap: 4px;
}

.rating-items {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.interactive-star {
  transition: transform 0.25s ease;
}
.interactive-star:hover ~ .interactive-star {
  transform: scale(1.3);
}
