.position-relative {
  position: relative;
}

.color-green {
  color: #19a819 !important;
}

.color-red {
  color: #ff0000 !important;
}

.d-none {
  display: none !important;
}

.margin-left-15 {
  margin-left: 15px;
}
