body {
  display: flex;
  justify-content: start;
  flex-direction: column;

  .content {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding-bottom: 40px;
    flex-grow: 1;
  }
}

.credits-counter {
  padding: 0 12px 0 0;
  white-space: nowrap;
}

.toggle-collapse {
  cursor: pointer;
}

.non-clickable-list-item {
  cursor: default !important;
}

.subject-group-credits-met {
  color: green !important;
}

.subject-group-credits-unmet {
  color: red !important;
}

input {
  &:-webkit-autofill {
    transition: background-color 0s 0s, color 0s 0s;
    transition-delay: calc(infinity * 1s);
  }
}
