body {
  display: flex;
  justify-content: start;
  flex-direction: column;

  .content {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding: 0px 5px 40px 5px;
    flex-grow: 1;
  }
}

.home-button {
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  white-space: nowrap;
  vertical-align: middle;
  width: 220px;
  height: 40px;
  font-size: 21px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.home-button:hover {
  cursor: pointer;
}

.credits-counter {
  padding: 0 12px 0 0;
  white-space: nowrap;
}

.handle-account {
  color: white;
  padding: 16px;
}

.two-checkboxes {
  display: flex;
  height: 40px;
  width: 100px;
  form {
    margin: 0 5px;
  }
}

.toggle-collapse {
  cursor: pointer;
}

.logical-prerequisite-operands {
  margin-left: 20px;
  display: none;
}

.prerequisite-type {
  font-weight: bold;
}

.subjects-list {
  position: relative;
}

.growing-text-list {
  a {
    color: inherit;
    text-decoration-line: inherit;
  }

  a.home-button {
    color: #444;
  }

  a.account-session {
    text-decoration-line: underline;
  }

  .mdc-deprecated-list-item__text {
    flex-grow: 1;
    width: 100px;
  }

  .mdc-deprecated-list-item__meta {
    margin-left: 0px;
  }
}

.total-credits {
  font-weight: bold;
  font-size: larger;
}

.non-clickable-list-item {
  cursor: default !important;
}

.mdc-deprecated-list-item__text {
  display: block;
  flex: 1;
}

#menu-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.not-planned-subjects-select {
  max-width: 200px;
}

.new-planned-subjects {
  align-items: center;
  padding: 24px 16px;
  @media (max-width: 500px) {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }
}

.button-container button {
  margin: 3px;
}

.links-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: auto;
  margin-top: 10px;
}

.invalid-feedback {
  color: red;
}

.is-invalid {
  border-color: red;
}

.menu-user-info {
  padding: 0 16px;
}

.mdc-text-field-helper-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.mdc-text-field-helper-text::before {
  height: 5px;
}

.subject-group-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.checkbox-header {
  height: 40px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex;
}

.list-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logged-in-account-circle {
  border-radius: 50%;
  background-color: cadetblue;
  line-height: 24px;
  font-size: 15px;
  font-family: Roboto;
}

.subject-group-credits-met {
  color: green !important;
}

.subject-group-credits-unmet {
  color: red !important;
}

#butInstall {
  padding-left: 0px;
}

.show-password-button {
  margin-right: -20px;
}

input {
  &:-webkit-autofill {
    transition: background-color 0s 0s, color 0s 0s;
    transition-delay: calc(infinity * 1s);
  }
}

footer.mdc-theme--text-primary-on-light {
  justify-content: center;
}

aside.mdc-drawer .footer.mdc-theme--text-primary-on-light {
  margin-bottom: 5px;
  padding-bottom: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: 2px;
}

aside.mdc-drawer .footer.mdc-theme--text-primary-on-light a.mdc-theme--text-primary-on-light {
  text-decoration: none;
}

