/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "reset";
@import "@material/checkbox/mdc-checkbox";
@import "@material/list/mdc-list";
@import "@material/icon-button/mdc-icon-button";
@import "@material/typography/mdc-typography";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";

body {
  display: flex;
  justify-content: center;
  .content {
    max-width: 600px;
    flex-grow: 1;
  }
}

.credits-counter {
  padding-right: 16px;
}

.two-checkboxes {
  display: flex;
  height: 40px;
  width: 80px;
}

.toggle-collapse {
  cursor: pointer;
}

.logical-prerequisite-operands {
  margin-left: 20px;
  display: none;
}

.prerequisite-type {
  font-weight: bold;
}

.subjects-list {
  position: relative;
}

.foreground-layer {
  background-color: grey;
  opacity: 0.4;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.growing-text-list {
  a {
    color: inherit;
    text-decoration-line: inherit;
  }
  .mdc-list-item__text{
    flex-grow: 1;
  }

  .mdc-list-item__meta{
    margin-left: 0px;
  }
}

// Fix black hover over list item with checkbox (on Chrome 74+)
:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item::before {
    filter: opacity(100%);
}

// Fix black background when clicking on list item with checkbox (on Chrome 74+)
:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item:active::after {
     filter: opacity(100%);
 }

 .total-credits {
   font-weight: bold;
   font-size: larger;
 }
