<div class='mailer-content'>
  <div class='email-text'>

    <h4 class='mailer-center'>MiCarrera</h4>
    <h2>Hola <%= @resource.email %>!</h2>
    <p>Alguien ha solicitado un enlace para cambiar su contraseña. Puede hacerlo a través del enlace de abajo.</p>

    <div class='mailer-button-container'>
      <%= link_to 'Restablecer Contraseña', edit_password_url(@resource, reset_password_token: @token), class: 'mailer-button' %>
    </div>

    <p>Si no solicitó esto, ignore este correo electrónico.</p>
    <p>Su contraseña no cambiará hasta que acceda al enlace de arriba y cree una nueva.</p>

  </div>
</div>
