<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un enlace para cambiar su contraseña. Puede hacerlo a través del enlace de abajo.</p>

<p><%= link_to 'Restablecer Contraseña', edit_password_url(@resource, reset_password_token: @token) %></

<p>Si no solicitó esto, ignore este correo electrónico.</p>
<p>Su contraseña no cambiará hasta que acceda al enlace de arriba y cree una nueva.</p>


<%= @token %>
