<html xmlns="http://www.w3.org/1999/xhtml" class='reset-password-email'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <style>

      .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }

      .email-text{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;
      }

      .center{
        text-align: center;
        width: 100%;
      }

      .button-container{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      .button {
        background-color: #3869D4;
        border-top: 10px solid #3869D4;
        border-right: 18px solid #3869D4;
        border-bottom: 10px solid #3869D4;
        border-left: 18px solid #3869D4;
        display: inline-block;
        color: #FFF;
        text-decoration: none;
        border-radius: 3px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
        -webkit-text-size-adjust: none;
        box-sizing: border-box;
      }

      p{
        margin: 20px 0 0 0;
      }
    </style>
  </head>
  <body>
    <div class='content'>

      <div class='email-text'>

        <h4 class='center'>Student App</h4>

        <h2>Hola <%= @resource.email %>!</h2>

        <p>Alguien ha solicitado un enlace para cambiar su contraseña. Puede hacerlo a través del enlace de abajo.</p>
        <div class='button-container'>
          <p><%= link_to 'Restablecer Contraseña', edit_password_url(@resource, reset_password_token: @token), class: 'button' %></p>
        </div>
        <p>Si no solicitó esto, ignore este correo electrónico.</p>
        <p>Su contraseña no cambiará hasta que acceda al enlace de arriba y cree una nueva.</p>

      </div>
    </div>
  </body>
</html>
