<% content_for :credits do %>
  <%= render 'shared/credits_counter' %>
<% end %>

<h3 class="text-2xl mx-4 my-3">Grupo <%= @subject_group.name %></h3>

<hr class="border-gray-200">

<ul>
  <%= render partial: "subjects/subjects_list", locals: { subjects: @subject_group.subjects.ordered_by_category } %>
</ul>
