name: Ruby

on: push

jobs:
  scan_ruby:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Scan for common Rails security vulnerabilities using static analysis
        run: bin/brakeman --no-pager

  scan_js:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Scan for security vulnerabilities in JavaScript dependencies
        run: bin/importmap audit

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Lint code for consistent style
        run: bin/rubocop -f github

  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: mi_carrera
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - name: Check out repository code
      uses: actions/checkout@v6

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true

    - name: Run tests
      env:
        RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
        RAILS_ENV: test
        DB_USER: mi_carrera
        DB_PASSWORD: postgres
        PGHOST: localhost
        PGPORT: 5432
      run: |
        bundle exec rake db:create db:schema:load
        bundle exec rake spec

    - name: Upload screenshots
      if: failure()
      uses: actions/upload-artifact@v6
      with:
        name: system_test_screenshots
        path: ./tmp/capybara
        retention-days: 2

    - uses: joshmfrankel/simplecov-check-action@main
      if: github.actor != 'dependabot[bot]'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        minimum_suite_coverage: 40
