name: Ruby

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: student
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - name: Check out repository code
      uses: actions/checkout@v2

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true

    - name: Run tests
      env:
        RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
        RAILS_ENV: test
        DB_USER: student
        DB_PASSWORD: postgres
        PGHOST: localhost
        PGPORT: 5432
      run: |
        bundle exec rake db:create db:schema:load
        bundle exec rake

    - name: Upload screenshots
      if: failure()
      uses: actions/upload-artifact@v3
      with:
        name: system_test_screenshots
        path: ./tmp/screenshots
        retention-days: 2
