<% content_for :navigation_icon do %>
  <%= nav_icon("arrow_back", (request.referer || root_path)) %>
<% end %>

<div class="mdc-list-group">
  <h3 class="mdc-list-group__subheader mdc-typography--headline5">Regístrate</h3>
  <ul class="mdc-list growing-text-list">

    <li class="row">
      <div class="col-md-3">
        <a class="btn btn-outline-dark" href="/users/googleauth" role="button" style="text-transform:none">
          <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
      Sign in with Google
        </a>
      </div>
    </li>

    <li role="separator" class="mdc-option-divider"></li>
  </ul>
</div>

<!-- Minified CSS and JS -->
<link   rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
</script>
