<% content_for :navigation_icon do %>
  <%= nav_icon("arrow_back", (request.referer || root_path)) %>
<% end %>
<div class="mdc-list-group">
  <h3 class="mdc-list-group__subheader mdc-typography--headline5 sign-in">Regístrate</h3>
  <ul class="mdc-list growing-text-list sign-in-border">

    <li class="sign-in-option">
        <span><%= google_sign_in_button raw("<span class=\"google-icon\"></span><span>Registrarse con Google</span>"), proceed_to: root_path, class: "sign-in-button" %></span>
    </li>
    <li class="sign-in-option">
      <span><%= button_to new_account_path, method: :get, class: "sign-in-button" do %>
        <span class="facebook-icon"></span>
        <span>Registrarse con Facebook</span>
      <% end %></span>
    </li>

  </ul>
</div>

